<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <title>ntho</title>
</head>
<body>
    <div id="core" />
    <script>
        window.isLoaded = false;
        window.screenHeight = window.innerHeight;
        window.onload = () => window.isLoaded = true;
    </script>
</body>
</html>
