@use '../vars';

.wrap {
    .input {
        background-color: vars.$secondaryBackground;
        border-radius: 10px;
        box-shadow: vars.$secondaryBackground 0px 0px 12px -2px;

        label {
            color: vars.$primaryHighlight;
        }

        input {
            color: vars.$primaryColor;

            &:disabled {
                color: vars.$primaryHighlight;
                -webkit-text-fill-color: vars.$primaryHighlight;
            }
        }

        input:active+fieldset,
        input:focus+fieldset {
            border-radius: 10px;
            border-color: transparentize(vars.$primaryHighlight, 0.6) !important;
        }
    }
}
