@use '../vars';

.wrap {
    .button {
        background-color: vars.$secondaryBackground !important;
        border-radius: 7px;
        border: transparentize(vars.$primaryHighlight, 0.6) solid 1px;
        color: vars.$primaryColor;

        &:active,
        &:focus,
        &:hover {
            background-color: vars.$secondaryBackground !important;
        }

        @media (hover: none) {
            background-color: vars.$secondaryBackground !important;
        }
    }
}
