@use '../vars';

.wrap {
    .loading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: vars.$primaryBackground;

        .sticker {
            opacity: 0;
            height: 0;
            transition: opacity .2s, height .6s;
        }

        .sticker.active {
            opacity: 1;
            height: 150px;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .2rem;
        }
    }
}
