@use '../vars.scss';
@use '../animation.scss';

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .action {
        display: flex;
        gap: .5rem;
        width: 100%;

        .mainButton {
            flex-grow: 1;
        }
    }

    .content {
        width: 100%;
        flex-grow: 1;
        background-color: transparentize($color: vars.$primaryColor, $amount: 0.95);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .author {
        color: vars.$secondaryColor;
        line-height: 1.7;

        span {
            animation: flickerText 1s infinite;
        }
    }
}

